PORT=8080
PROFILE_CODES=001
DATABASE_PATH=./data/app.sqlite
API_DEV_PORT=8787
MOCK_DELAY_MIN_MS=1000
MOCK_DELAY_MAX_MS=15000
SOURCE1_WEIGHT=1
SOURCE2_WEIGHT=1
SOURCE3_WEIGHT=1
COMPLEXITY_PERCENTILE_TARGET=0.5
COMPLEXITY_PERCENTILE_SPREAD=0.25
MAX_EXPORT_COUNT=500
